.hero {
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipOgmOXs8kO_FVYluEqHyuEBTNyDzkIo8gRSH8p_=s1360-w1360-h1020");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 725px;
    opacity: 80%;
}
