.hero {
    background-image: url("../../../../public/Images/image1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 725px;
    opacity: 80%;
    max-height: fit-content;
}
